<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="form_wrap">
        <div class="title">
            <center><h1>Bienvenido al simulador </h1></center> 
        </div>
        <form method='post' action='/num_autos'>
            <br>
            <h2> Definir el numero de autos </h2>
                Cantidad de autos a simular: <input type='number' name='quantity' value="1" min="1">
                <br><br>
            <input type="submit" value='Siguiente'>
        </form>
    </section>
</body>
</html>

